<!DOCTYPE html>
<html lang="zh" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/layui/css/layui.css" rel="stylesheet">
    <script src="/layui/layui.js"></script>
    <title>index</title>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">收货地址</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <!-- 移动端显示 -->
            <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
                <i class="layui-icon layui-icon-spread-left"></i>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
                <a href="javascript:;">
                    <img src="https://unpkg.com/outeres@0.0.10/img/layui/icon-v2.png" class="layui-nav-img">
                    tester
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/logout">退出登录</a></dd>
                </dl>
            </li>

        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <!--            表单位置-->
            <div>
                <!-- 给容器追加 class="layui-form-pane"，即可显示为方框风格 -->
                <form class="layui-form layui-form-pane" action="#">
                    <div id="receiving_info_id" class="layui-form-item" hidden="hidden">
                        <label class="layui-form-label">地址信息id</label>
                        <div class="layui-input-block">
                            <input type="text" name="id" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">收件人姓名</label>
                        <div class="layui-input-block">
                            <input type="text" name="consigneeName" autocomplete="off" placeholder="请输入"
                                   lay-verify="required" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">收件人电话</label>
                        <div class="layui-input-block">
                            <input type="text" name="consigneeTel" autocomplete="off" placeholder="请输入"
                                   lay-verify="required" class="layui-input">
                        </div>
                    </div>
                    <div id="receiving_info_status" class="layui-form-item" hidden="hidden">
                        <label class="layui-form-label">保存状态</label>
                        <div class="layui-input-block">
                            <input type="text" name="status" autocomplete="off" value="0" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">地址信息</label>
                        <div id="city_div_0" class="layui-input-inline" lay-filter="city_0">
                            <select id="city_0" name="city_0" lay-filter="city_0">
                                <option value=""></option>
                            </select>
                        </div>
                        <div id="city_div_1" class="layui-input-inline">
                            <select id="city_1" name="city_1" lay-filter="city_1">
                                <option value=""></option>
                            </select>
                        </div>

                        <div id="city_div_2" class="layui-input-inline">
                            <select id="city_2" name="city_2" lay-filter="city_2">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">邮编</label>
                            <div class="layui-input-block">
                                <input type="text" name="postcode" id="postcode" autocomplete="000000"
                                       class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">详细地址</label>
                        <div class="layui-input-block">
                            <textarea placeholder="请输入内容" name="addressDetail" class="layui-textarea"
                                      lay-verify="required"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">默认地址</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="defaultAddress" lay-skin="switch" lay-filter="switchDefault"
                                   title="是|否" value="1">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <button class="layui-btn" lay-submit lay-filter="demo2">确认</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </form>
            </div>
            <!--            表格位置-->
            <div>
                <table id="addresses_table"></table>
            </div>
        </div>
    </div>
    <!--    <div class="layui-footer">-->
    <!--        &lt;!&ndash; 底部固定区域 &ndash;&gt;-->
    <!--        底部固定区域-->
    <!--    </div>-->
</div>
<script>

    layui.use(['laypage', 'table', 'jquery', 'form'], function () {
        const table = layui.table;
        const form = layui.form;
        const layer = layui.layer;
        const $ = layui.$;
        const city_0 = $("#city_0");
        const city_1 = $("#city_1");
        const city_2 = $("#city_2");

        const inst = table.render({
            elem: '#addresses_table', // 绑定元素选择器
            url: '/receiving_info-get',
            method: 'post',
            id: 'id',
            page: { // 支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['count', 'prev', 'page', 'next', 'skip'], //自定义分页布局
                limit: 3,
                groups: 1, //只显示 1 个连续页码

            },
            cols: [
                [
                    {field: "id", title: "id", width: 60, hide: true},
                    {field: "consigneeName", title: "收货人姓名", width: 100},
                    {field: "consigneeTel", title: "收货人电话", width: 120},
                    {field: "cityId", title: "所在地区", width: 150},
                    {field: "postcode", title: "邮政编码", width: 100},
                    {field: "addressDetail", title: "详细地址", width: 200},
                    {
                        title: "操作", width: 140, templet: "<div>" +
                            "<button class=\"layui-btn layui-btn-sm layui-btn-primary layui-border\">修改</button>\n" +
                            "<button class=\"layui-btn layui-btn-sm layui-btn-primary layui-border-red\">删除</button>" +
                            "</div>"
                    },
                    {
                        field: "defaultAddress", title: "默认地址", width: 100, templet: function (d) {
                            return d.defaultAddress ?
                                "<button type=\"button\" class=\"layui-btn layui-btn-warm layui-btn-sm layui-btn-normal\">默认地址</button>"
                                :
                                "<button type=\"button\" class=\"layui-btn layui-btn-sm layui-btn-normal\">设为默认</button>";
                        }
                    }
                ]
            ]
        });

        const city_render = function (target_select, relay_id) {
            $.post(
                "/city-get",
                {
                    relay: relay_id
                },
                function (data) {
                    target_select.empty();
                    for (let i = 0; i < data.length; i++) {
                        target_select.append('<option value="' + data[i].id + '" >' + data[i].name + '</option>')
                    }
                    if (data.length === 0) {
                        console.log(target_select, "is empty")
                        target_select.parent().hide();
                    } else {
                        target_select.parent().show();
                    }
                    form.render('select');
                }
            );
        }
        const city_0_render = function () {
            city_render(city_0, null);
        }

        $.ajaxSettings.async = false;
        city_0_render()
        city_render(city_1, city_0.val());
        city_render(city_2, city_1.val());
        $.ajaxSettings.async = true;

        form.on('select(city_0)', function () {
            $.ajaxSettings.async = false;
            city_render(city_1, city_0.val());
            city_render(city_2, city_1.val());
            $.ajaxSettings.async = true;
        });
        form.on('select(city_1)', function () {
            city_render(city_2, city_1.val())
        });
        form.render(); // 渲染全部表单


        // 提交事件
        form.on('submit(demo2)', function (data) {
            const field = data.field; // 获取表单字段值
            // 显示填写结果，仅作演示用
            layer.alert(JSON.stringify(field), {
                title: '当前填写的字段值'
            });
            // 此处可执行 Ajax 等操作
            $.post("/receiving_info-submit",
                field,
                function (message) {
                    console.log(message);
                }
            );
            return false; // 阻止默认 form 跳转
        });


    });
</script>
</body>
</html>